<a href="https://colab.research.google.com/github/HaJunYoo/Programmers_DE_Start/blob/main/(DE_11%EA%B8%B0)1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql

In [20]:
# SQL로 MAU(Monthly Active User) 세보기

%%sql

SELECT to_char(st.ts, 'YYYY-MM') date, COUNT(usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
WHERE (date ilike '%05' OR date ilike '%06' OR date ilike '%07')
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('2019-05', 6261), ('2019-06', 10520), ('2019-07', 14840)]

In [22]:
%%sql

SELECT to_char(st.ts, 'YYYY-MM') date, COUNT(DISTINCT usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [6]:
%%sql

-- 질문 1: 테이블을 한번 살펴보려고 했는데 아래의 코드는 왜 에러가 나는 것일까요?
SHOW databases;
DESC raw_data.session_timestamp st;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.SyntaxError) syntax error at or near ";"
LINE 2: SHOW databases;
                      ^

[SQL: -- 질문 1: 테이블을 한번 살펴보려고 했는데 아래의 코드는 왜 에러가 나는 것일까요?
SHOW databases;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [21]:
## 질문 2

### DATE_FORMAT은 왜 안되는가 : Timestamp 타입이기 때문이다
### DATE_FORMAT(DATE(st.ts), '%Y-%m') 은 왜 안되는지...? => redshift 특성일까요?
### 문자열로 바꿔서 그룹핑